body{
  font-family: "Helvetica";
  background-color: LightGray;
  margin: 0;
  padding: 0;
}

h1{
  display: inline-block;
  margin-bottom: auto;
}

#header{
  background-color: white;
  font-size: 12px;
}

#footer{
  position: fixed;
  bottom:0;
  background-color: white;
  right: 0;
  left: 0;
  font-size: 12px;
  height: 30px;
}

#content{
  text-align: justify;
  margin-left: 12px;
}

#title{
  margin-top: 5px;
  vertical-align: 30px;
  margin-left: 10px;
}

#d1{
  margin-right:10px;
}

#p1{
  font-size: 15px;
  margin-right: 5px;
}

#p4,#p2,#p3{
  margin-right: 65px;
  margin-left: 65px;
}

#contactBox{
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

#spancontactBox{
  padding-top: 25px;
  padding-left:45px;
  position: relative;
}

#resumeHeader{
  margin-left: 600px;
  margin-bottom: 30px;
}

#menu {
    float: right;
    overflow: auto;
    margin-right:12px;
    font: "Verdana";
    width: 130px;
    margin-top: 40px;
}

#menu .menuOption {
    border: solid;
    outline: solid;
    color:white;
    font-family: "Verdana";
    margin-left: 5px;
    position: absolute;
}

.menuOption {
    display: none;
    position: relative;
    width: 115px;
    height: 180px;
    background: white;
    border: 10px black;
}

.menuOption a {
    float: left;
    color: black;
    padding: 14px 2px;
    text-decoration: none;
    display: block;
    position: absolute;
}

.menuButton{
  padding:8px;
  background-color:white;
  width:130px;
  border-style: groove;
}

.menuOption a:hover {
    background-color: salmon;
    color: white;
    height: 5px;
}

#menu:hover .menuOption {
    display: block;
}

table {
	font-family: times, sans-serif;
	border-collapse: collapse;
	width: 40%;
	border: 1px solid black;
  padding-bottom: 12px;
  margin-left: 440px;
}

tr{
  text-align: center;
}

td {
	border: 1px solid black;
  text-align: center;
	padding: 8px;
}

.imageGallery{
  width:150px;
}

dd {
    display: list-item;
    list-style-type: disc;
}
